<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorate="layout" lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		background-image: url("https://st2.depositphotos.com/2786775/6154/v/950/depositphotos_61547925-stock-illustration-books-doodles.jpg");
		background-repeat: no-repeat;
	</style>
	<title>Autores</title>
</head>
<body>
	<div class="container-fluid">
	<a href="" class="btn btn-info" th:href="@{/autor/novo}">Novo</a>
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>AUTOR</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="livro : ${autor}">
				<td th:text="${livro?.id}"></td>
				<td th:text="${livro?.nome}"></td>
				<td><a href="" class="btn btn-warning" th:href="@{'/autor/alterar/' + ${livro.id}}">Alterar</a></td>
				<td><a href="" class="btn btn-danger" th:href="@{'/autor/excluir/' + ${livro.id}}">Excluir</a></td>
			</tr>
		</table>
	</div>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
